<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/fragment :: link"></div>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h1 class="page-header">Sistem Informasi Kependudukan</h1>

	<form action="/penduduk" method="get">
		<div>
			<label for="nik">Masukan NIK</label> <input type="text" name="nik" />
		</div>
		<div>
			<button type="submit">Lihat</button>
		</div>
	</form>
	<form action="/keluarga" method="GET">
		<div>
			<label for="nkk">Masukkan NKK</label><input type="text" name="nkk" />
		</div>
			<button type="submit">Lihat</button>
	</form>

</body>

</html>

