<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/fragment :: link"></div>
<title>Update Keluarga</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h1 class="page-header">Update Keluarga</h1>

	<form th:object="${keluarga}" th:action="'/keluarga/ubah/' + ${nomorKk}" method="POST">
	
			<div>
			<label  for="alamat">Alamat</label> <input type="text" name="alamat" th:field="*{alamat}" th:value="${keluarga.alamat}" />
			</div>
			<div>
			<label  for="rt">RT</label> <input type="text" name="rt" th:field="*{rt}" th:value="${keluarga.rt}" />
			</div>
			<div>
			<label  for="rw">RW</label> <input type="text" name="rw" th:field="*{rw}" th:value="${keluarga.rw}" />
			</div>
			<div>
			<label  for="idKelurahan">Kelurahan/Desa</label> <input type="text" name="idKelurahan" th:field="*{idKelurahan}" th:value="${keluarga.idKelurahan}" />
			</div>
			<!-- <div>
			<label  for="kecamatan">Kecamatan</label> <input type="text" name="kecamatan" th:field="*{kecamatan}" th:value="${keluarga.kecamatan}" />
			</div>
			<div>
			<label  for="kota">Kota</label> <input type="text" name="kota" th:field="*{kota}" th:value="${keluarga.kota}" />
			</div>  -->
		 <div>
			<button type="submit" name="action" value="submit">Submit</button>
		</div>
		<input type="hidden" name="id" th:value="${keluarga.id}"></input>
	</form>

</body>

</html>

