<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments/fragment :: link"></div>
		<title>Data Penduduk</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>
	<div th:replace="fragments/fragment :: header"></div>
		<div>
		<h2 th:text="'Lihat Data Penduduk - ' +${penduduk.nik} ">Lihat Data penduduk</h2>
    		<h3 th:text="'NIK = ' + ${penduduk.nik}">NIK Penduduk</h3>
    		<h3 th:text="'Nama = ' + ${penduduk.nama}">Nama Penduduk</h3>
    		<h3 th:text="'Tempat/Tanggal Lahir = ' + ${penduduk.tempatLahir}+', ' + ${penduduk.tanggalLahir}">Tempat dan Tanggal Lahir Penduduk</h3>
    		</div>
    			<h3 th:text="'Alamat = ' + ${keluarga.alamat}">Alamat Penduduk</h3>
			<h3 th:text="'RT/RW = ' + ${keluarga.rt} +'/'+${keluarga.rw}">RT dan RW Penduduk</h3>
			<h3 th:text="'Kelurahan/Desa = ' + ${domisili.namaKelurahan}">Kelurahan Penduduk</h3>
			<h3 th:text="'Kecamatan = ' + ${domisili.namaKecamatan}">Kecamatan Penduduk</h3>
			<h3 th:text="'Kota = ' + ${domisili.namaKota}">Kota Penduduk</h3>
			
		<div>
    			<h3 th:text="'Golongan Darah = ' + ${penduduk.golonganDarah}">Golongan Darah</h3>
    			<h3 th:text="'Agama = ' + ${penduduk.agama}">Agama Penduduk</h3>
    			<h3 th:text="'Status Perkawinan = ' + ${penduduk.statusPerkawinan}">Status Perkawinan Penduduk</h3>
    			<h3 th:text="'Pekerjaan = ' + ${penduduk.pekerjaan}">Pekerjaan Penduduk</h3>
    			<h3 th:if="${penduduk.isWni} == 0" th:text="'Kewarganegaraan = ' + WNA">Kewarganegaraan Penduduk</h3>
    			<h3 th:if="${penduduk.isWni} == 1" th:text="'Kewarganegaraan = ' + WNI">Kewarganegaraan Penduduk</h3>
    			<h3 th:if="${penduduk.isWafat} == 0" th:text="'Status Kematian = ' + Hidup">Status Kematian Penduduk</h3>
    			<h3 th:if="${penduduk.isWafat} == 1" th:text="'Status Kematian = ' + Mati">Status Kematian Penduduk</h3>
    		</div>
    		<form action="penduduk/mati" method="POST">
    		<input type="hidden" name="nik" th:value="${penduduk.nik}"></input>
    		<input type="hidden" name="id" th:value="${penduduk.idKeluarga}"></input>
    			<button type="submit" name="action" >Non Aktifkan</button>
    			
    		</form>
   	 </body>

</html>

